html, body, .container-table{
    height: 100%;
    background-color: black;
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}
p {
    font-size: 30px;
    color: seashell;
}
.list-inline {
    font-size: 20px;
    color: darkcyan;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;

}
.project {
    padding-top: 5rem;
}
.heading {
    text-align: center;
    color: seashell;
}

/*.social{*/
    /*padding-left: 5px;*/
/*}*/

/*.icon{*/
    /*padding-bottom: 1px;*/
/*}*/